.button__quiz {
  box-sizing: border-box;
  position: relative;
  background: #6767AF;
  display: block;
  font-size: 14px;
  font-weight: 600;
  line-height: 2;
  letter-spacing: 0.8px;
    &--request {
      padding: 8px 30px;
      border-radius: 12px 0px 0px 12px;
      align-self: start;
        &:hover {
          background-color: #fff;
          color: #6767AF;
          outline: 1px solid #6767AF;
          outline-offset:-1px;
          &::after {
            background-color: #6767AF;
            color: #fff;
            border: none;
          }
        }
        &::after {
          position: absolute;
          content: '»';
          padding-bottom: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          top: 0;
          bottom: 0;
          right: -45px;
          width: 45px;
          outline: 1px solid #6767AF;
          outline-offset:-1px;
          color: #6767AF;
          font-weight: 300;
          font-size: 35px;
          border-bottom-right-radius: 12px;
          border-top-right-radius: 12px;
        }
    }
    &--call {
      padding: 10px 30px;
      font-size: 14px;
      border-radius: 12px;
        &:hover {
          background-color: #fff;
          color: #6767AF;
          outline: 1px solid #6767AF;
          outline-offset:-1px;
          outline: none;
        }
    }
}

@media(min-width: 768px) {
  .button__quiz {
    font-size: .83vw;
    line-height: 2;
      &--request {
        margin-top: .73vw;
        padding: .78vw 3.13vw;
        border-bottom-left-radius: .63vw;
        border-top-left-radius: .63vw;
          &:hover {
            outline: 0.05vw solid #6767af;
            outline-offset: -0.08vw;
          }
          &::after {
            right: -3.39vw;
            width: 3.39vw;
            font-size: 1.82vw;
            outline: 0.052vw solid #6767af;
            outline-offset: -0.052vw;
            border-bottom-right-radius: .63vw;
            border-top-right-radius: .63vw;
          }
      }
      &--call {
        padding: .52vw 1.56vw;
        border-radius: .63vw;
      }
  }
}

@media(min-width: 1920px) {
  .button__quiz {
    font-size: 15px;
    // line-height: 2;
    &--request {
      margin-top: 14px;
      padding: 15px 60px;
      border-bottom-left-radius: 12px;
      border-top-left-radius: 12px;
      outline: 1px solid #6767af;
      outline-offset: -1px;
        &::after {
          right: -65px;
          width: 65px;
          font-size: 35px;
          outline: 1px solid #6767af;
          outline-offset: -1px;
          border-bottom-right-radius: 12px;
          border-top-right-radius: 12px;
      }
    }
    &--call {
      // margin-right: -10px;
      padding: 10px 30px;
      border-radius: 12px;
    }
  }
}